
.profile
  &-header
    width: max-content
    margin: 0 auto
    position: absolute
    bottom: 0
    left: 2em
    z-index: 1

  &-title
    margin-bottom: 1em

  &-image
    bottom: -2em
    position: relative
    top: 6em
  &-image img
    width: 150px
    border-radius: 50%

  &-title, &-image
    display: inline-block
    margin-right: 2em
